
.title{
  font-size: 30px;
  font-family:"Times New Roman", Times, serif;
}
.mybutton {
	background-color:#44c767;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
  text-shadow:0px 1px 0px #2f6627;
  /* position:absolute; */
  
}
.mybutton:hover {
	background-color:#5cbf2a;
}
.mybutton:active {
	position:relative;
  top:1px;
}
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f5f5;
  border: 2px solid white;
  border-radius: 5px;
}


.card{
  background-color: white;
  text-align: center;
  box-shadow: 10px 5px 5px black;
  width: 500px;
  margin: 50px;
  height: 250px;
  border: 10px solid white;
  border-radius: 5px;
}

.card-text{
  text-align: left;
  font-size: 17px;
  font-family:"Times New Roman", Times, serif;
}
/* Style the header */
.header {
  padding: 10px 16px;
  background: #555;
  color: #f1f1f1;
}

/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 102px;
}